// ================================
// About
// ================================

.about {

  header {
    margin-bottom: rem(40px);
  }

  article {
    margin-bottom: rem(80px);
    padding: rem(5px) rem(20px);

    p {
      margin-bottom: rem(20px);
    }

  }

}