// ================================
// Footer
// ================================

footer {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: rem(10px);
  width: rem(800px);
}

.legalese {
  margin-bottom: rem(20px);
  text-align: center;
}