// ================================
// Toolkit
// ================================

.palette,
.toolkit {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30px);
  width: rem(800px);
}

.toolkit {

}

.toolkit-label {
  text-align: center;
  font-weight: 600;
}

.tool {
  width: rem(200px);
  input {
    border: none;
  }
}

.tool-button {
  @include naked-button;
  display: block;
  padding: rem(10px) rem(20px);
  min-width: rem(100px);
  background-color: getcolor(teal);
  border: 2px solid transparent;
  border-radius: 3px;
  font-weight: 800;
  color: getcolor(white);
  text-align: center;
  transition: 250ms ease all;
  text-decoration: none;
  &:focus,
  &:hover {
    background-color: getcolor(teal, dark);
    color: getcolor(white);
    text-decoration: underline;
  }
  &:active {
    background-color: getcolor(white) !important;
    color: getcolor(teal, dark);
    border-color: getcolor(teal, dark);
  }
}

.palette-drawer {
  .tool-button {
    margin-left: auto;
    margin-right: 0;
  }
}
